<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">
	<insert id="insertApproval" parameterType="Approval">
		insert into APPROVAL 
		values(#{empNo}||SEQ_APPROVAL.nextval,
				#{empNo}, 
				#{apTitle}, 
				#{apContent}, 
				#{approvalEmp}, 
				#{runEmp},
				#{refEmp}, 
				#{hEmp},
				sysdate, 
				null, 
				#{dDate}, 
				default, 
				#{a_v_first}, 
				#{a_v_last}, 
				#{originalFile}, 
				#{renameFile})
	</insert>
	
	<select id="selectApprovalList" parameterType="string" resultType="Approval">
		select *
		from APPROVAL
		where (EMPNO like #{empno}
		or APPROVALEMP like #{empno}
		or RUNEMP like #{empno}
		or REFEMP like #{empno}
		or HEMP like #{empno}
		)and APSTATUS!='N'
	</select>
	
	
</mapper>
