<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">
	<select id="selectCommute" parameterType="map" resultType="map">
		<![CDATA[
 		select * 
 		from attendance 
 		where empNo =#{empNo} and (ATTEND between TO_DATE(replace(#{start},' 24:',' 00:'),'yyyy-mm-dd hh24:mi:ss') 
 		and to_date( replace(#{date},' 24:',' 00:') , 'yyyy-mm-dd hh24:mi:ss'))
 		]]> 
	</select>
	
	<insert id="chulgun" parameterType="map">
	insert into attendance 
	values(TO_DATE(replace(#{Date},' 24:',' 00:'),'yyyy-mm-dd hh24:mi:ss'), #{empNo}, TO_DATE(replace(#{Date},' 24:',' 00:'),'yyyy-mm-dd hh24:mi:ss'), null)
	</insert>

	<update id="goHome" parameterType="map">
		<![CDATA[
 		update attendance 
 		set GOHOME = to_date(replace(#{date},' 24:',' 00:'), 'yyyy-mm-dd hh24:mi:ss') 
		where empNo =#{empNo} and (ATTEND between TO_DATE(replace(#{start},' 24:',' 00:'),'yyyy-mm-dd hh24:mi:ss') and to_date( replace(#{date},' 24:',' 00:'), 'yyyy-mm-dd hh24:mi:ss')) 
 		]]> 
	</update>
	
	<select id="getListCount" resultType="_int">
	select count(*)
	from attendance
	</select>
	
	<select id="selectList" resultMap="AttendanceResultSet">
	select * 
	from attendance
		join employee on(employee.empno=attendance.empno)
	order by attend desc
	</select>
	
	<resultMap type="Attendance" id="AttendanceResultSet">
		<id column="ADATE" property="aDate"></id>
		<result column="EMPNO" property="empNo"></result>
		<result column="ATTEND" property="attend"></result>
		<result column="GOHOME" property="goHome"></result>
	</resultMap>
	
	
	
	
</mapper>