<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">

	<insert id="insertMailFile">
		insert into mail_file 
		values (mail_file_seq.nextval, #{mOriginalName}, #{mChangeName}, 
				#{mFilePath}, sysdate, 'Y', MAIL_TEMP_SEQ.CURRVAL)		
	</insert>
	<insert id="insertMail">
		insert into mail
		values (MAIL_TEMP_SEQ.NEXTVAL, #{receiveEmp}, null, #{etitle}, 
				#{econtent}, 'Y', null, #{empNo}, sysdate)
	</insert>
	
	<select id="getTempListCount" resultType="_int">
		select count(*)
		from mail
		where estatus='Y'
	</select>
	
	<select id="selectTempList" resultMap="mailResultSet">
    select MAIL.MAILNO, MAIL.RECEIVEEMP, MAIL.ETYPE, MAIL.ETITLE,
           MAIL.ECONTENT, MAIL.ESTATUS, MAIL.E_R_TIME, MAIL.EMPNO, MAIL.S_DATE, EMPLOYEE.EMPNAME,
           MAIL_FILE.M_FILE_NO, MAIL_FILE.M_CHANGE_NAME, MAIL_FILE.M_STATUS
    from mail
        join employee ON(MAIL.EMPNO = EMPLOYEE.EMPNO)
        LEFT JOIN MAIL_FILE ON (MAIL.MAILNO = MAIL_FILE.MAILNO AND M_STATUS='Y')
    where estatus='Y'
	</select>
	
	<resultMap type="Mail" id="mailResultSet">
		<id column="MAILNO" property="mailNo"/>
		<result column="RECEIVEEMP" property="receiveEmp"/>
		<result column="ETYPE" property="etype"/>
		<result column="ETITLE" property="etitle"/>
		<result column="ECONTENT" property="econtent"/>
		<result column="ESTATUS" property="estatus"/>
		<result column="E_R_TIME" property="eRTime"/>
		<result column="EMPNO" property="empNo"/>
		<result column="S_DATE" property="sDate"/>
		<result column="EMPNAME" property="senderName"/>
		<collection property="mailFileList" javaType="arraylist" resultMap="mailFileResultSet"></collection>
	</resultMap>
	
	<resultMap type="MailFile" id="mailFileResultSet">
		<id column="M_FILE_NO" property="mFileNo"/>
		<result column="M_ORIGINAL_NAME" property="mOriginalName"/>
		<result column="M_CHANGE_NAME" property="mChangeName"/>
		<result column="M_FILE_PATH" property="mFilePath"/>
		<result column="M_UPLOAD_DATE" property="mUploadDate"/>
		<result column="M_STATUS" property="mStatus"/>
		<result column="MAILNO" property="mailNo"/>
	</resultMap>
</mapper>